/* styles.css */

/* Apply gradient background to the entire body */
body {
  background: linear-gradient(135deg, #B9D3EE, #7BBDF5); /* Gradient background */
}

/* Center the name tiles */
.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Style the name tiles */
.pokemon-list li {
  background-color: #fff; /* White background color */
  margin: 10px;
  padding: 20px;
  border: 2px solid #ddd; /* Light grey border */
  border-radius: 8px; /* Add border radius for a softer look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
}

.pokemon-list li button {
  background-color: #ffad00; /* Orange button background color */
  color: white; /* White text color */
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
}

/* Loader styles */
.loader {
  border: 16px solid transparent; /* Transparent border */
  border-top: 16px solid #ffad00; /* Orange */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
}

/* Modal styles */
.modal-content {
  background-color: black; /* Black background color */
  border: 2px solid white; /* Outer white border */
  border-radius: 50%; /* Circular shape */
  width: 200px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  padding: 20px; /* Space between borders */
  box-sizing: border-box; /* Include padding in width and height */
  position: relative; /* Position for inner border */
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* Inner white border */
.modal-content::before {
  content: '';
  position: absolute;
  top: 10px; /* Adjust inner border distance from outer border */
  left: 10px; /* Adjust inner border distance from outer border */
  width: calc(100% - 20px); /* Adjust inner border width */
  height: calc(100% - 20px); /* Adjust inner border height */
  border: 2px solid white; /* Inner white border */
  border-radius: 50%; /* Circular shape */
}

.modal-content img {
  max-width: 100%; /* Ensure image doesn't exceed modal width */
  max-height: 100%; /* Ensure image doesn't exceed modal height */
}

